<link href="/css/lovetimeline.css" rel="stylesheet">
<div class="pattern-center-blank">
</div>
<div class="pattern-center ">
    <div class="pattern-attachment-img">
        <img src="<%- theme.lazyloadImg%>" data-src="<%= page.photos%>" class="lazyload" onerror="imgError(this,3)" style="width: 100%; height: 100%; object-fit: cover; pointer-events: none;">
    </div>
    <header class="pattern-header ">
        <h1 class="entry-title">
            爱情长跑线
        </h1>
        <span class="cat-des"> 
        <p ><%= page.description%></p>
        </span>
    </header>
</div>

<div id="content" class="site-content">
    <div id="main">
        <div id="lovetimeline">
                    <i class="fa fa-heartbeat fa-lg lovetimeline-heart-begin" aria-hidden="true" ></i>
                    <div class="lovetimeline-main">
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2016年</span>
                                <span class="lovetimeline-date">07月12号</span>
                                <div class="content">
                                    <h3 class="title">第一次相识</h3>
                                    <p class="description">
                                        相识的第一天是来自工大16级物联新生群，来自福建的你让我多了一分关注，因为想给团委招部员，故事就这么开始了。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2016年</span>
                                <span class="lovetimeline-date">09月01日</span>
                                <div class="content">
                                    <h3 class="title">第一次见面</h3>
                                    <p class="description">
                                        记得第一次见面在软件园二号楼下，你迎面笑着向我走来的时候我就决定这个女孩已经成为秘书处的一员了。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2016年</span>
                                <span class="lovetimeline-date">11月11日</span>
                                <div class="content">
                                    <h3 class="title">我们在一起了</h3>
                                    <p class="description"></p>
                                        我没有惊天动地的爱情宣言，也没有海枯石烂的爱情承诺。但是我想告诉你：我比上一秒更爱你❤️我比上一秒与你更近了💕
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2016年</span>
                                <span class="lovetimeline-date">12月03日</span>
                                <div class="content">
                                    <h3 class="title">第一次滑雪</h3>
                                    <p class="description">
                                        一起看了那年的初雪也是我们第一次一起滑雪，现在回福建了那次滑雪可能也是我们唯一的一次了。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2016年</span>
                                <span class="lovetimeline-date">12月04日</span>
                                <div class="content">
                                    <h3 class="title">第一次看电影</h3>
                                    <p class="description">
                                        “只要记住你的名字，不管你在世界的哪个地方，我一定会，去见你”“世间最美的文字，就是你的名字”
                                    </p>
                                </div>
                            </div>
                        </div>
                        
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2016年</span>
                                <span class="lovetimeline-date">11月24日</span>
                                <div class="content">
                                    <h3 class="title">第一个圣诞节</h3>
                                    <p class="description">
                                        给你写了第一封信 “很幸运能遇到你，也很确定的就是你，时光绵长，一起努力，期待与你的未来”
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">01月15日</span>
                                <div class="content">
                                    <h3 class="title">第一次一起回家</h3>
                                    <p class="description">
                                        跨过1686公里从天津回到了福建，有一起长途旅行的甜蜜，也有即将异地的不舍，多么希望这条路能无限的长。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">01月28日</span>
                                <div class="content">
                                    <h3 class="title">第一个大年初一</h3>
                                    <p class="description">
                                    “你之前所有的不开心都是因为没有遇见我，希望新的一年我们能够越来越好” 是我们的第一个春节，也期待我在你身边的所有春节。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">02月18日</span>
                                <div class="content">
                                    <h3 class="title">一百天纪念日</h3>
                                    <p class="description">
                                        来自你的第二封情书，第二场电影《爱乐之城》，第一次坐我自行车后面，第一次逛街，第一次坐在我肩膀上。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">5月25日</span>
                                <div class="content">
                                    <h3 class="title">第一次一起比赛</h3>
                                    <p class="description">
                                        第一次一起参加机器人比赛，去了徐州吃了地锅鸡沛县狗肉，一起通了无数的宵，然后比赛前一天红外传感器丢了。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">07月02日</span>
                                <div class="content">
                                    <h3 class="title">第一次穿情侣鞋</h3>
                                    <p class="description">
                                        “等你以后老了牙口不行了，我就做一大桌子你喜欢的饭菜，然后当着你的面全吃掉”匡威的经典款也算是情侣鞋吧。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">08月18日</span>
                                <div class="content">
                                    <h3 class="title">第一次一起过生日</h3>
                                    <p class="description">
                                        我承认福鼎的鸡翅和三小的炸串俘获了我的胃，我真的不是为了吃才去的福鼎，是祝你：生日快乐！生日快乐！生日快乐！
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">08月28日</span>
                                <div class="content">
                                    <h3 class="title">第一个七夕第一只宠物</h3>
                                    <p class="description">
                                        找朋友要了一只白色的仓鼠和一只灰色的仓鼠，以及从此之后了多了“你的大哥”和“我的大哥”，虽然我们没有鹊桥，但是我们有大哥。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">09月17日</span>
                                <div class="content">
                                    <h3 class="title">第一次一起打工</h3>
                                    <p class="description">
                                        恋爱经费紧张的我们趁着新的一年开学季卖了几百张的联通卡，同时你也变成了学弟眼中的漂亮学姐。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">10月07日</span>
                                <div class="content">
                                    <h3 class="title">第一次一起去游乐园</h3>
                                    <p class="description">
                                       去了欢乐谷玩了愤怒的小鸟翻江倒海海盗船鬼屋……我玩吐了，好吧我是真的菜，以及我们的第一个美拍。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">11月11日</span>
                                <div class="content">
                                    <h3 class="title">一周年纪念日</h3>
                                    <p class="description">
                                       一周年的礼物是理学院墙上的涂鸦 “CML❤️ZZW 一周年快乐 2017.11.11 ” 你说你毕业的时候去看了它，它还在。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2017年</span>
                                <span class="lovetimeline-date">12月06日</span>
                                <div class="content">
                                    <h3 class="title">第一次帮我推头</h3>
                                    <p class="description">
                                       带着推子找了一个空教室，你怕把我头发剃坏了，我和你说你大胆的剃，以后还要剃很多次呢，然后 真的剃坏了。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2018年</span>
                                <span class="lovetimeline-date">01月01日</span>
                                <div class="content">
                                    <h3 class="title">元旦快乐</h3>
                                    <p class="description">
                                      “冬风十里不如你”去了海河广场，第一次站在冰上玩，拍了很多的照片也是我第一次在朋友圈发你的照片。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2018年</span>
                                <span class="lovetimeline-date">04月29日</span>
                                <div class="content">
                                    <h3 class="title">第一场演唱会</h3>
                                    <p class="description">
                                       五月天LIFE[人生无限公司]世界巡回演唱会-天津站，那天的歌很好听，那天的现场很嗨，那天的你很美。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2018年</span>
                                <span class="lovetimeline-date">05月13日</span>
                                <div class="content">
                                    <h3 class="title">第一次旅行第一次爬山</h3>
                                    <p class="description">
                                       跃突泉，大明湖，芙蓉街，泉城广场，黑虎泉，解放阁以及泰山，虽然爬到了山顶，但是却没有看到日出。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2018年</span>
                                <span class="lovetimeline-date">11月10日</span>
                                <div class="content">
                                    <h3 class="title">一场精心准备的生日</h3>
                                    <p class="description">
                                       那时候我在准备考研，你和我说好好复习明年帮我补过，但是却在软件园精心布置了一个教室，以及一个很好吃的蛋糕。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2019年</span>
                                <span class="lovetimeline-date">05月18日</span>
                                <div class="content">
                                    <h3 class="title">第一次一起蹦床</h3>
                                    <p class="description">
                                       我们关注陀螺旅行很久了因为种种原因没有参加过一次它举办的互动，终于在我考完研以后我们一起和朋友去了一次蹦床。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2019年</span>
                                <span class="lovetimeline-date">06月02日</span>
                                <div class="content">
                                    <h3 class="title">我毕业了</h3>
                                    <p class="description">
                                        毕业
                                    </p>
                                </div>
                            </div>
                        </div> -->
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2019年</span>
                                <span class="lovetimeline-date">08月07日</span>
                                <div class="content">
                                    <h3 class="title">1000天纪念日</h3>
                                    <p class="description">
                                       “这条路很长，也很难走，但明天总会到的。只愿一起走时互相扶持，谁也不丢下谁” 异地恋是对情侣的最大考验，但是我们可以的！
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2020年</span>
                                <span class="lovetimeline-date">01月19日</span>
                                <div class="content">
                                    <h3 class="title">第一次一起逛福大</h3>
                                    <p class="description">
                                       记得我过两天就是毛中特考试，我们一起在阳光园的草地上背书，我也不知道我到底有没有背进去，但是我没挂科。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2020年</span>
                                <span class="lovetimeline-date">06月16日</span>
                                <div class="content">
                                    <h3 class="title">毕业快乐</h3>
                                    <p class="description">
                                       本来计划今年你毕业我回天津，筹了一年的钱结果因为疫情打乱了所有的安排，没能给你送上鲜花，但是还是毕业快乐呀！
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2020年</span>
                                <span class="lovetimeline-date">08月18日</span>
                                <div class="content">
                                    <h3 class="title">第一次去你家</h3>
                                    <p class="description">
                                       去你家帮你过生日，第一次见到了你的爸妈阿姨，以及第一次和你的朋友打麻将。真的超超超超超紧张的！
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2020年</span>
                                <span class="lovetimeline-date">12月24日</span>
                                <div class="content">
                                    <h3 class="title">第一次玩密室逃脱</h3>
                                    <p class="description">
                                       X先生密室逃脱之弥生剧本，体验感很好你胆子很大，也解了很多的迷，和拼场的女孩子区别就体现出来了。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="lovetimeline-block">
                            <div class="lovetimeline-content">
                                <span class="lovetimeline-year">2020年</span>
                                <span class="lovetimeline-date">2月14日</span>
                                <div class="content">
                                    <h3 class="title">搭建我们的情侣网站</h3>
                                    <p class="description">
                                       情人节快乐，希望这个网站能搭载我们所有的回忆，老了能通过它回忆起我们的点点滴滴，是我们的养老基地也不只是养老基地。
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>
                    <i class="fa fa-heartbeat fa-lg lovetimeline-heart-end" aria-hidden="true" ></i>
        </div>
    </div>
</div>
